<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link href="/dashboard.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 class="mb-4">Dashboard</h1>
    <form action="/students">
      <button id="btn1">Student Section</button>
    </form>

    <form action="/teachers">
      <button id="btn2">teachers Section</button>
    </form>
  </div>
</body>
</html>
